<div class="row">
  <div class="col-md-8 offset-2">
  <h2>{{title}}</h2>
  <form [formGroup]="bookForm" class="form-container" (ngSubmit)="onSubmit()">
    <mat-form-field>


      <input matInput type="text" placeholder="Kategori" formControlName="categoryBy" [matAutocomplete]="auto" >

      <mat-autocomplete [displayWith]="displayCategoryName" #auto="matAutocomplete">
        <mat-option *ngFor="let option of categories" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>



    </mat-form-field>


    <div>
      <input type="file" (change)="upload($event)">


    </div>

    <mat-form-field>
      <input formControlName="title" matInput placeholder="Kitap ismi">
      <mat-error *ngIf="this.bookForm.controls.title.invalid">

        <div *ngIf="this.bookForm.controls.title.hasError('required')">
          "bu alan boş bırakılamaz..."
        </div>

      </mat-error>

    </mat-form-field>
    <mat-form-field>
      <input formControlName="author" matInput placeholder="Yazar ismi">
      <mat-error *ngIf="this.bookForm.controls.author.invalid">

        <div *ngIf="this.bookForm.controls.author.hasError('required')">
          "bu alan boş bırakılamaz..."
        </div>

      </mat-error>

    </mat-form-field>
    <mat-form-field>
      <input formControlName="price" matInput placeholder="Fiyat">

      <mat-error *ngIf="this.bookForm.controls.price.invalid">

        <div *ngIf="this.bookForm.controls.price.hasError('required')">
          "bu alan boş bırakılamaz..."
        </div>

      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="stock" matInput placeholder="Stok">

      <mat-error *ngIf="this.bookForm.controls.stock.invalid">

        <div *ngIf="this.bookForm.controls.stock.hasError('required')">
          "bu alan boş bırakılamaz..."
        </div>

      </mat-error>
    </mat-form-field>


    <button class="mt-2" type="submit" mat-raised-button color="primary">{{btnText}}</button>

  </form>
  </div>


  </div>

